<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="view-transition" content="same-origin">
<title>yt-dlp Tube</title>
<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/components.css">

<script src="/static/js/core/app.js"></script>
<script src="/static/js/core/pjax.js" defer></script>
<script src="/static/js/core/bulk.js" defer></script>

<script src="/static/js/player/utils.js"></script>
<script src="/static/js/player/MediaSync.js"></script>
<script src="/static/js/player/ProgressControls.js"></script>
<script src="/static/js/player/Subtitles.js"></script>
<script src="/static/js/player/MenuSystem.js"></script>
<script src="/static/js/player/CacheManager.js"></script>
<script src="/static/js/player/SponsorBlock.js"></script>
<script src="/static/js/player/InputHandler.js"></script>
<script src="/static/js/player/PlayerCore.js"></script>
