{% for video in videos %}
{% set uploader_name = video.uploader | default(video.channel_name | default('Unknown')) %}
{% set channel_link = video.channel_url | default(video.uploader_url | default('https://www.youtube.com/@' ~ uploader_name)) %}
{% set vid_url = video.url or ('https://www.youtube.com/watch?v=' ~ video.id) %}

<div class="video-card unrevealed">
    <a href="{{ vid_url | yt_path }}">
        <div class="thumbnail skeleton-box">
            <img class="lazy-img" src="{{ (video.thumbnail or (video.thumbnails and video.thumbnails[-1].url) or ('https://i.ytimg.com/vi/' ~ video.id ~ '/hqdefault.jpg')) | proxy_image }}" alt="" loading="lazy" onload="this.classList.add('loaded'); this.parentElement.classList.remove('skeleton-box');">
            <span class="duration">{{ video.duration | format_time }}</span>
        </div>
    </a>
    <div class="video-info">
        <a href="{{ vid_url | yt_path }}" class="video-title">{{ video.title | default('Untitled') }}</a>
        
        {% if show_channel != False or show_date %}
        <div class="video-meta-row">
            {% if show_channel != False %}
            <a href="{{ channel_link | yt_path }}">
                <img class="channel-avatar lazy-img skeleton-box" src="{{ (video.channel_icon or ('https://ui-avatars.com/api/?name=' ~ (uploader_name | urlencode) ~ '&background=333&color=fff')) | proxy_image }}" alt="" loading="lazy" onload="this.classList.add('loaded'); this.classList.remove('skeleton-box');">
            </a>
            {% endif %}
            <div class="video-text">
                {% if show_channel != False %}
                <a href="{{ channel_link | yt_path }}" class="channel-name">
                    {{ uploader_name }}
                </a>
                {% endif %}
                
                {% if show_date %}
                <span style="color: var(--text-muted); font-size: 0.85rem;">
                    {% set ts = video.upload_date if video.upload_date else video.timestamp %}
                    {% set t = ts | time_ago %}
                    {% if t %}{{ t }}{% endif %}
                </span>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}